In [1]:
import pandas as pd

In [7]:
creditos = pd.read_csv('creditos.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
creditos.head()

,id_cliente,id_prestamo,monto,deuda_actual,fecha_inicio,fecha_pago,fecha_pago.1,dias_atraso
0,1,10001,100,80,12/12/2022,12/12/2022,12/12/2022,0
1,1,10002,200,150,22/12/2022,22/12/2022,23/12/2022,1
2,2,10003,50,5,23/12/2022,23/12/2022,28/12/2022,5
3,2,10004,75,70,24/12/2022,24/12/2022,28/12/2022,4
4,2,10005,125,12,24/12/2022,24/12/2022,29/12/2022,5

In [8]:
clientes_agrupados = creditos.groupby('id_cliente').sum()
clientes_agrupados

C:\Users\Oscar\AppData\Local\Temp\ipykernel_7456\2360885637.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  clientes_agrupados = creditos.groupby('id_cliente').sum()

            id_prestamo  monto  deuda_actual  dias_atraso
id_cliente
1                 40017    650           241            4
2                 40019    650           109           18

In [9]:
clientes_agrupados['ratio_endeudamiento'] = clientes_agrupados['deuda_actual'] / clientes_agrupados['monto']
clientes_agrupados

            id_prestamo  monto  deuda_actual  dias_atraso  ratio_endeudamiento
id_cliente
1                 40017    650           241            4             0.370769
2                 40019    650           109           18             0.167692