In [1]:
import pandas as pd

In [15]:
creditos = pd.read_csv('creditos.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
creditos.head()

,id_cliente,id_prestamo,monto,cuotas,deuda_actual,fecha_inicio,fecha_pago,fecha_pago.1,dias_atraso
0,1,10001,100,10,80,12/12/2022,12/12/2022,12/12/2022,0
1,1,10002,200,5,150,22/12/2022,22/12/2022,23/12/2022,1
2,2,10003,50,10,5,23/12/2022,23/12/2022,28/12/2022,5
3,2,10004,75,3,70,24/12/2022,24/12/2022,28/12/2022,4
4,2,10005,125,5,12,24/12/2022,24/12/2022,29/12/2022,5

In [16]:
clientes_agrupados = creditos.groupby('id_cliente').sum()
clientes_agrupados

C:\Users\Oscar\AppData\Local\Temp\ipykernel_7456\2360885637.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  clientes_agrupados = creditos.groupby('id_cliente').sum()

            id_prestamo  monto  cuotas  deuda_actual  dias_atraso
id_cliente
1                 40017    650      22           241            4
2                 40019    650      28           109           18

In [17]:
clientes_agrupados['ratio_endeudamiento'] = clientes_agrupados['deuda_actual'] / clientes_agrupados['monto']
clientes_agrupados

,id_prestamo,monto,cuotas,deuda_actual,dias_atraso,ratio_endeudamiento
id_cliente,,,,,,
1,40017,650,22,241,4,0.370769
2,40019,650,28,109,18,0.167692

In [18]:
creditos = pd.DataFrame({
    "Cliente": ["Juan", "Juan", "Ana", "Ana", "Pedro"],
    "Monto": [1000, 5000, 2000, 3000, 1500],
    "Cuotas": [12, 24, 6, 12, 8]
})
creditos

  Cliente  Monto  Cuotas
0    Juan   1000      12
1    Juan   5000      24
2     Ana   2000       6
3     Ana   3000      12
4   Pedro   1500       8

In [13]:
creditos["Cuota Mensual"] = creditos["Monto"] / creditos["Cuotas"]
creditos

  Cliente  Monto  Cuotas  Cuota Mensual
0    Juan   1000      12      83.333333
1    Juan   5000      24     208.333333
2     Ana   2000       6     333.333333
3     Ana   3000      12     250.000000
4   Pedro   1500       8     187.500000

In [14]:
deuda_mensual = creditos.groupby(["Cliente", pd.Grouper(key="Cuota Mensual", freq="M")])["Cuota Mensual"].sum()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Float64Index'

In [21]:
creditos = pd.DataFrame({
    "Cliente": ["Juan", "Juan", "Ana", "Ana", "Pedro", "Pedro"],
    "Monto": [1000, 5000, 2000, 3000, 1500, 2000],
    "Cuotas": [12, 24, 6, 12, 8, 12],
    "Fecha": ["2022-01-01", "2022-02-01", "2022-01-01", "2022-03-01", "2022-01-01", "2022-02-01"]
})
creditos["Fecha"] = pd.to_datetime(creditos["Fecha"])
creditos.set_index("Fecha", inplace=True)
creditos

           Cliente  Monto  Cuotas
Fecha
2022-01-01    Juan   1000      12
2022-02-01    Juan   5000      24
2022-01-01     Ana   2000       6
2022-03-01     Ana   3000      12
2022-01-01   Pedro   1500       8
2022-02-01   Pedro   2000      12

In [22]:
creditos["Cuota Mensual"] = creditos["Monto"] / creditos["Cuotas"]
creditos

           Cliente  Monto  Cuotas  Cuota Mensual
Fecha
2022-01-01    Juan   1000      12      83.333333
2022-02-01    Juan   5000      24     208.333333
2022-01-01     Ana   2000       6     333.333333
2022-03-01     Ana   3000      12     250.000000
2022-01-01   Pedro   1500       8     187.500000
2022-02-01   Pedro   2000      12     166.666667

In [23]:
deuda_mensual = creditos.groupby([pd.Grouper(freq="M"), "Cliente"])["Cuota Mensual"].sum()
deuda_mensual

Fecha       Cliente
2022-01-31  Ana        333.333333
            Juan        83.333333
            Pedro      187.500000
2022-02-28  Juan       208.333333
            Pedro      166.666667
2022-03-31  Ana        250.000000
Name: Cuota Mensual, dtype: float64

In [24]:
deuda_mensual = deuda_mensual.reset_index()
deuda_mensual

       Fecha Cliente  Cuota Mensual
0 2022-01-31     Ana     333.333333
1 2022-01-31    Juan      83.333333
2 2022-01-31   Pedro     187.500000
3 2022-02-28    Juan     208.333333
4 2022-02-28   Pedro     166.666667
5 2022-03-31     Ana     250.000000

In [29]:
creditos = pd.read_csv('creditos.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
creditos = creditos.loc[:,['fecha_inicio','id_cliente','monto','cuotas']]
creditos["fecha_inicio"] = pd.to_datetime(creditos["fecha_inicio"])
creditos.set_index("fecha_inicio", inplace=True)
creditos.head()

C:\Users\Oscar\AppData\Local\Temp\ipykernel_7456\3702172134.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  creditos["fecha_inicio"] = pd.to_datetime(creditos["fecha_inicio"])

              id_cliente  monto  cuotas
fecha_inicio
2022-12-12             1    100      10
2022-12-22             1    200       5
2022-12-23             2     50      10
2022-12-24             2     75       3
2022-12-24             2    125       5

In [31]:
creditos["Cuota Mensual"] = creditos["monto"] / creditos["cuotas"]
creditos

              id_cliente  monto  cuotas  Cuota Mensual
fecha_inicio
2022-12-12             1    100      10           10.0
2022-12-22             1    200       5           40.0
2022-12-23             2     50      10            5.0
2022-12-24             2     75       3           25.0
2022-12-24             2    125       5           25.0
2022-12-24             1    300       6           50.0
2022-12-25             2    400      10           40.0
2022-12-25             1     50       1           50.0

In [33]:
deuda_mensual = creditos.groupby([pd.Grouper(freq="M"), "id_cliente"])["Cuota Mensual"].sum()
deuda_mensual

fecha_inicio  id_cliente
2022-12-31    1             150.0
              2              95.0
Name: Cuota Mensual, dtype: float64

In [ ]:
# mirar si se une con cohortes