In [1]:
import pandas as pd

In [4]:
# crear un DataFrame de ejemplo
df = pd.DataFrame({
   'Nombre': ['Juan', 'María'],
   'Edad': [20, 25],
   'Altura': [170, 165],
   'Peso': [70, 60]
})
df

  Nombre  Edad  Altura  Peso
0   Juan    20     170    70
1  María    25     165    60

In [5]:
# aplicar el método melt() para transformar el DataFrame en formato largo
df_melted = df.melt(id_vars=['Nombre'], 
                    value_vars=['Edad', 'Altura', 'Peso'],
                    var_name='Variable', 
                    value_name='Valor')

# imprimir el DataFrame transformado
print(df_melted)

  Nombre Variable  Valor
0   Juan     Edad     20
1  María     Edad     25
2   Juan   Altura    170
3  María   Altura    165
4   Juan     Peso     70
5  María     Peso     60