In [7]:
import pandas as pd

In [8]:
# crear un DataFrame de ejemplo
df = pd.DataFrame({
   'Nombre': ['Juan', 'María', 'Pedro', 'Laura', 'Sofía'],
   'Materia': ['Matemáticas', 'Matemáticas', 'Historia', 'Historia', 'Matemáticas'],
   'Calificación': [8, 7, 9, 6, 10]
})
df

  Nombre      Materia  Calificación
0   Juan  Matemáticas             8
1  María  Matemáticas             7
2  Pedro     Historia             9
3  Laura     Historia             6
4  Sofía  Matemáticas            10

In [9]:
# aplicar el método pivot() para transformar el DataFrame
## Asume que no hay duplicados
df_pivot = df.pivot(index='Nombre', columns='Materia', values='Calificación')

# imprimir el DataFrame transformado
print(df_pivot)

Materia  Historia  Matemáticas
Nombre
Juan          NaN          8.0
Laura         6.0          NaN
María         NaN          7.0
Pedro         9.0          NaN
Sofía         NaN         10.0

In [13]:
# aplicar el método pivot() para transformar el DataFrame
## Puede trabajar con duplicados y funciones de agregacion
total_general_pro = df.pivot_table(
    index='Nombre',
    columns='Materia',
    values='Calificación',
    fill_value=0
).reset_index()
total_general_pro

Materia Nombre  Historia  Matemáticas
0         Juan       0.0          8.0
1        Laura       6.0          0.0
2        María       0.0          7.0
3        Pedro       9.0          0.0
4        Sofía       0.0         10.0

In [ ]:
print('ok_')

ok_