In [1]:
import pandas as pd

In [5]:
# crear un DataFrame de ejemplo
df = pd.DataFrame({
   'Nombre': ['Juan', 'María', 'María'],
   'Edad': [20, 25, 24],
   'Altura': [170, 165, 176],
   'Peso': [70, 60, 80],
   'classe':['M', 'L', 'S'],
})
df

  Nombre  Edad  Altura  Peso classe
0   Juan    20     170    70      M
1  María    25     165    60      L
2  María    24     176    80      S

In [6]:
# aplicar el método pivot() para transformar el DataFrame en formato largo
df_pivot = df.pivot(index=['Nombre'], 
                    columns=['classe', 'Peso'],
                    values='Edad').reset_index()

# imprimir el DataFrame transformado
print(df_pivot)

classe Nombre     M     L     S
Peso             70    60    80
0        Juan  20.0   NaN   NaN
1       María   NaN  25.0  24.0

In [ ]:
print('ok_')