In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [3]:
import sys
sys.path.append("../") 

from paths import make_dir_line

modality = 'e'
project = 'agrupaciones'
data = make_dir_line(modality, project)

raw = data('raw')
processed = data('processed')

# AIMS

1. Seleccionar los dos ultimos creditos

## 1. Seleccionar los dos ultimos creditos

In [4]:
compras = pd.read_csv(processed / 'historial_compras2.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
compras['fecha'] = pd.to_datetime(compras['fecha'])
compras = compras.sort_values(['cliente', 'fecha'], ascending=[True, False])
compras

  cliente      fecha  monto
0       A 2022-03-01    300
1       A 2022-02-01    200
2       A 2022-01-01    100
3       B 2022-02-15    250
4       B 2022-01-15    150
5       C 2022-04-01    300
6       C 2022-03-30    200
7       C 2022-02-20    100
8       C 2022-01-10     50

In [5]:
compras_recientes = compras.groupby('cliente').head(2)
compras_recientes

  cliente      fecha  monto
0       A 2022-03-01    300
1       A 2022-02-01    200
3       B 2022-02-15    250
4       B 2022-01-15    150
5       C 2022-04-01    300
6       C 2022-03-30    200

In [6]:
print('ok_')

ok_