In [1]:
import pandas as pd

In [5]:
compras = pd.DataFrame({
    'cliente': ['A', 'A', 'A', 'B', 'B', 'C', 'C', 'C', 'C'],
    'fecha': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-01-15', '2022-02-15', '2022-01-10', '2022-02-20', '2022-03-30', '2022-04-01'],
    'monto': [100, 200, 300, 150, 250, 50, 100, 200, 300]
})
compras['fecha'] = pd.to_datetime(compras['fecha'])
compras = compras.sort_values(['cliente', 'fecha'], ascending=[True, False])
compras

  cliente      fecha  monto
2       A 2022-03-01    300
1       A 2022-02-01    200
0       A 2022-01-01    100
4       B 2022-02-15    250
3       B 2022-01-15    150
8       C 2022-04-01    300
7       C 2022-03-30    200
6       C 2022-02-20    100
5       C 2022-01-10     50

In [7]:
compras_recientes = compras.groupby('cliente').head(2)
compras_recientes

  cliente      fecha  monto
2       A 2022-03-01    300
1       A 2022-02-01    200
4       B 2022-02-15    250
3       B 2022-01-15    150
8       C 2022-04-01    300
7       C 2022-03-30    200