In [18]:
import pandas as pd
from datetime import datetime

In [19]:
data = {'fecha': ['2023-01-01', '2023-01-02', '2023-01-04', '2023-01-06'],
        'conteo': [5, 3, 7, 2]}
df = pd.DataFrame(data)
df['fecha'] = pd.to_datetime(df['fecha'])
df.head()

       fecha  conteo
0 2023-01-01       5
1 2023-01-02       3
2 2023-01-04       7
3 2023-01-06       2

In [20]:
df.shape

(4, 2)

In [21]:
fecha_inicial = df['fecha'].min()
fecha_final = df['fecha'].max()
todas_fechas = pd.date_range(start=fecha_inicial, end=fecha_final, freq='D')

In [22]:
fecha_inicial, fecha_final

(Timestamp('2023-01-01 00:00:00'), Timestamp('2023-01-06 00:00:00'))

In [23]:
todas_fechas

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df_todas_fechas = pd.DataFrame({'fecha': todas_fechas})
df_todas_fechas['conteo'] = 0

In [26]:
df_final = pd.concat([df, df_todas_fechas]).sort_values('fecha')
df_final = df_final.drop_duplicates(subset=['fecha'])
df_final

       fecha  conteo
0 2023-01-01       5
1 2023-01-02       3
2 2023-01-03       0
2 2023-01-04       7
4 2023-01-05       0
3 2023-01-06       2

Test 2

In [36]:
import pandas as pd
from datetime import datetime

data = {'fecha': ['2023-01-01', '2023-01-02', '2023-04-04', '2023-06-06'],
        'conteo': [5, 3, 7, 2]}
df = pd.DataFrame(data)
df['fecha'] = pd.to_datetime(df['fecha'])
df['mes_año'] = df['fecha'].dt.to_period('M')
# df = df.loc[:,['mes_año','conteo']]
df

       fecha  conteo  mes_año
0 2023-01-01       5  2023-01
1 2023-01-02       3  2023-01
2 2023-04-04       7  2023-04
3 2023-06-06       2  2023-06

In [38]:
fecha_inicial = df['fecha'].min()
fecha_final = df['fecha'].max()
todas_fechas = pd.date_range(start=fecha_inicial, end=fecha_final, freq='M')
todas_fechas

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31'],
              dtype='datetime64[ns]', freq='M')

In [39]:
fecha_inicial, fecha_final

(Timestamp('2023-01-01 00:00:00'), Timestamp('2023-06-06 00:00:00'))

In [41]:
df_todas_fechas = pd.DataFrame({'fecha': todas_fechas})
df_todas_fechas['conteo'] = 0
df_todas_fechas['mes_año'] = df_todas_fechas['fecha'].dt.to_period('M')
df_todas_fechas

       fecha  conteo  mes_año
0 2023-01-31       0  2023-01
1 2023-02-28       0  2023-02
2 2023-03-31       0  2023-03
3 2023-04-30       0  2023-04
4 2023-05-31       0  2023-05

In [43]:
df_final = pd.concat([df, df_todas_fechas]).sort_values('fecha')
df_final = df_final.drop_duplicates(subset=['mes_año'])
df_final

       fecha  conteo  mes_año
0 2023-01-01       5  2023-01
1 2023-02-28       0  2023-02
2 2023-03-31       0  2023-03
2 2023-04-04       7  2023-04
4 2023-05-31       0  2023-05
3 2023-06-06       2  2023-06

Test 3

In [8]:
# Crear un DataFrame de ejemplo
data = {
    'Fecha': pd.date_range(start='2023-01-01', end='2023-12-31', freq='M'),
    'Categoria': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C', 'A', 'B', 'C'],
    'Valor': [0, 0, 100, 0, 0, 50, 0, 0, 0, 0, 0, 1]
}
df = pd.DataFrame(data)

# Mostrar el DataFrame original
print("DataFrame original:")
print(df)

DataFrame original:
        Fecha Categoria  Valor
0  2023-01-31         A      0
1  2023-02-28         A      0
2  2023-03-31         A    100
3  2023-04-30         B      0
4  2023-05-31         B      0
5  2023-06-30         B     50
6  2023-07-31         C      0
7  2023-08-31         C      0
8  2023-09-30         C      0
9  2023-10-31         A      0
10 2023-11-30         B      0
11 2023-12-31         C      1

In [9]:
# Agrupar por categoría y mes, y sumar los valores
df_grouped = df.groupby(['Categoria', df['Fecha'].dt.month])['Valor'].sum().reset_index()

In [10]:
# Eliminar los registros por categoría iguales a cero hasta encontrar uno diferente a cero
to_drop = []
for categoria in df_grouped['Categoria'].unique():
    zero_found = False
    for index, row in df_grouped.iterrows():
        if row['Categoria'] == categoria:
            if zero_found and row['Valor'] != 0:
                break
            if row['Valor'] == 0:
                zero_found = True
                to_drop.append(index)
                
# Eliminar los registros
df_grouped = df_grouped.drop(to_drop)

# Mostrar el DataFrame resultante
print("DataFrame resultante:")
print(df_grouped)

DataFrame resultante:
   Categoria  Fecha  Valor
2          A      3    100
3          A     10      0
6          B      6     50
7          B     11      0
11         C     12      1

In [44]:
print('Ok_')

Ok_