In [20]:
import pandas as pd
from keplergl import KeplerGl

In [21]:
map_1 = KeplerGl()
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl()

In [ ]:
map_1.config
## {u'config': {u'mapState': {u'bearing': 2.6192893401015205,
#  u'dragRotate': True,
#   u'isSplit': False,
#   u'latitude': 37.76209132041332,
#   u'longitude': -122.42590232651203,

{}

In [ ]:
map_1.save_to_html(file_name='first_map.html')

Map saved to first_map.html!

In [ ]:
df = pd.read_csv('data/data.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
df=df[["national_id", "neighborhood", "total_spent", "gis_lon", "gis_lat"]]
df.head()

  national_id                  neighborhood  total_spent    gis_lon   gis_lat
0  1000257249                     ANDALUCIA   49865.5462 -74.054189  4.668159
1  1000457942                     CHAPINERO   79789.9160 -74.062180  4.643080
2  1000577806  CHAPINERO ALTO - PARDO RUBIO  138348.7395 -74.062120  4.639200
3  1002402965                     CHAPINERO  176420.1681 -74.057580  4.666820
4  1002402965                     CHAPINERO  142907.0000 -74.057580  4.666820

In [ ]:
map=KeplerGl(height=800, data={"Comercios":df}, show_docs=True)
map

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

C:\Users\Oscar\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:718: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

KeplerGl(data={'Comercios':       national_id                  neighborhood  total_spent    gis_lon  \
0      …

In [ ]:
map.save_to_html(file_name='Bogota_map.html')

Map saved to Bogota_map.html!

In [ ]:
df = pd.read_csv('data/centrosComerciales.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
#df=df[["national_id", "neighborhood", "total_spent", "gis_lon", "gis_lat"]]
df.head()

                          centroComercial   latitud   longitud
0           Centro Comercial Ciudad Tunal  4.577801 -74.130286
1           Centro Comercial Centro Mayor  4.591026 -74.124276
2              Centro Comercial El Tintal  4.642552 -74.156466
3  Centro Comercial Plaza de las Americas  4.618487 -74.135337
4          Centro Comercial Plaza Central  4.631764 -74.115776

In [ ]:
map=KeplerGl(height=800, data={"Centros Comerciales":df}, show_docs=True)
map

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'Centros Comerciales':                             centroComercial   latitud   longitud
0      …

In [ ]:
map.save_to_html(file_name='malls_map.html')

Map saved to malls_map.html!