In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/sample.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
df['date'] = pd.to_datetime(df['date'], dayfirst='true', errors = 'coerce')
df.head()

   invoice       date customer_id stockcode  price
0        1 2020-07-25      d18734        y7  50.45
1        2 2020-01-17      c21086        x7  25.30
2        3 2019-07-05      d18185        z5  18.40
3        4 2019-02-26      c18331        z2   5.50
4        5 2019-02-10      b16309        y7  18.40

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoice      100000 non-null  int64
 1   date         100000 non-null  datetime64[ns]
 2   customer_id  100000 non-null  object
 3   stockcode    100000 non-null  object
 4   price        100000 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 3.8+ MB

In [6]:
df.to_parquet('data/data.parquet.gzip', compression='gzip')