In [5]:
import pandas as pd
from geopy.distance import distance

# Función para calcular la distancia geodésica entre dos puntos
def calcular_distancia(lat1, lon1, lat2, lon2):
    return distance((lat1, lon1), (lat2, lon2)).km

In [2]:
# Crear un dataframe de tiendas con latitud y longitud
tiendas = pd.DataFrame({
    'nombre': ['Tienda A', 'Tienda B', 'Tienda C', 'Tienda D'],
    'latitud': [25.7468, 25.7544, 25.7646, 25.7734],
    'longitud': [-100.2964, -100.3051, -100.3171, -100.3258]
})

# Crear un dataframe de personas con latitud y longitud
personas = pd.DataFrame({
    'nombre': ['Persona 1', 'Persona 2', 'Persona 3'],
    'latitud': [25.7485, 25.7590, 25.7770],
    'longitud': [-100.2948, -100.3105, -100.3295]
})

In [3]:
tiendas.head()

     nombre  latitud  longitud
0  Tienda A  25.7468 -100.2964
1  Tienda B  25.7544 -100.3051
2  Tienda C  25.7646 -100.3171
3  Tienda D  25.7734 -100.3258

In [4]:
personas.head()

      nombre  latitud  longitud
0  Persona 1  25.7485 -100.2948
1  Persona 2  25.7590 -100.3105
2  Persona 3  25.7770 -100.3295

In [6]:
# Calcular la distancia entre cada tienda y cada persona
for i, tienda in tiendas.iterrows():
    for j, persona in personas.iterrows():
        distancia = calcular_distancia(tienda['latitud'], tienda['longitud'], persona['latitud'], persona['longitud'])
        tiendas.at[i, f"distancia_persona_{j+1}"] = distancia

In [7]:
tiendas.head()

,nombre,latitud,longitud,distancia_persona_1,distancia_persona_2,distancia_persona_3
0,Tienda A,25.7468,-100.2964,0.247465,1.956483,4.713774
1,Tienda B,25.7544,-100.3051,1.222738,0.743765,3.501411
2,Tienda C,25.7646,-100.3171,2.861192,0.907341,1.853190
3,Tienda D,25.7734,-100.3258,4.157041,2.213739,0.544797

In [8]:
# Seleccionar las 10 tiendas más cercanas a cada persona y calcular la distancia promedio
for i, persona in personas.iterrows():
    tiendas_cercanas = tiendas.nsmallest(10, f"distancia_persona_{i+1}")
    distancia_promedio = tiendas_cercanas[f"distancia_persona_{i+1}"].mean()
    print(f"La distancia promedio de {persona['nombre']} a sus 10 tiendas más cercanas es {distancia_promedio:.2f} km")

La distancia promedio de Persona 1 a sus 10 tiendas más cercanas es 2.12 km
La distancia promedio de Persona 2 a sus 10 tiendas más cercanas es 1.46 km
La distancia promedio de Persona 3 a sus 10 tiendas más cercanas es 2.65 km

In [ ]:
print('ok_')