In [21]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point
from geopy.distance import distance

import warnings
warnings.filterwarnings("ignore")

In [112]:
tiendas = pd.DataFrame({
    'nombre': ['T', 'T2', 'T3'],
    'latitud': [4.576744763258312, 4.578697849895388, 4.582962141623665],
    'longitud': [-74.11454243331224, -74.1078839590082, -74.09932051315734],
    'dist': ['Quiroga','Olaya','Fucha']
})
tiendas = gpd.GeoDataFrame(tiendas, geometry=gpd.points_from_xy(tiendas.latitud, tiendas.longitud))


# Crear un dataframe de personas con latitud y longitud
personas = pd.DataFrame({
    'nombre': ['Persona 1', 'Persona 2', 'Persona 3', 'Persona 4'],
    'latitud': [ 4.577831588767381, 4.578035538520844, 4.579576490334676, 4.583744341379929],
    'longitud': [-74.11026135190512, -74.10939747472882, -74.1060101668533, -74.09799491105359],
    'dist': [500,600,1000,2000]
})
personas = gpd.GeoDataFrame(personas, geometry=gpd.points_from_xy(personas.latitud, personas.longitud), crs="EPSG:4326") 

personas['buffer'] = personas['geometry'].buffer(0.005)

tiendas.to_csv('tiendas.csv', encoding = 'utf-8-sig', index = False)
personas.to_csv('personas.csv', encoding = 'utf-8-sig', index = False)

In [113]:
personas.head()

,nombre,latitud,longitud,dist,geometry,buffer
0,Persona 1,4.577832,-74.110261,500,POINT (4.57783 -74.11026),"POLYGON ((4.58283 -74.11026, 4.58281 -74.11075..."
1,Persona 2,4.578036,-74.109397,600,POINT (4.57804 -74.10940),"POLYGON ((4.58304 -74.10940, 4.58301 -74.10989..."
2,Persona 3,4.579576,-74.106010,1000,POINT (4.57958 -74.10601),"POLYGON ((4.58458 -74.10601, 4.58455 -74.10650..."
3,Persona 4,4.583744,-74.097995,2000,POINT (4.58374 -74.09799),"POLYGON ((4.58874 -74.09799, 4.58872 -74.09848..."

In [114]:
l500 = []
for i, persona in personas.iterrows():
    mask = tiendas.within(persona['buffer'])
    num_tiendas = mask.sum()
    l500.append(num_tiendas)

In [125]:
l500

[2, 2, 1, 1]

In [134]:
personas['buffer'] = personas['geometry'].buffer(0.02)

l500 = []
for i, persona in personas.iterrows():
    mask = tiendas.within(persona['buffer'])
    num_tiendas = mask.sum()
    l500.append(num_tiendas)
l500

[3, 3, 3, 3]

l500 -> 0.005
l600 -> 0.006
l700 -> 0.007
l800 -> 0.0075
l900 -> 0.008
l1000 -> 0.01
l1500 -> 0.015
l2000 -> 0.02
l5000 -> 0.05