In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np		
import time
from pandarallel import pandarallel
import numpy as np

In [3]:
from geopy.distance import distance

In [4]:
pandarallel.initialize()
# pandarallel.initialize(progress_bar=True)

INFO: Pandarallel will run on 2 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [5]:
# Funci√≥n para calcular la distancia entre dos puntos
def calcular_distancia(lat1, lon1, lat2, lon2):
    return distance((lat1, lon1), (lat2, lon2)).km

In [6]:
lat_c = np.random.uniform(low=3, high=6, size=(1000000,))
long_c = np.random.uniform(low=70, high=80, size=(1000000,))
lat_p = np.random.uniform(low=3, high=6, size=(1000000,))
long_p = np.random.uniform(low=70, high=80, size=(1000000,))

df = pd.DataFrame({'lat_c': lat_c,
                   'long_c': long_c,
                   'lat_p': lat_p,
                   'long_p': long_p,
                   })
df.head()

      lat_c     long_c     lat_p     long_p
0  4.629752  71.625145  3.584273  79.995352
1  3.315591  72.034504  4.708573  72.010302
2  4.340068  77.577133  3.226830  75.897443
3  5.647548  78.210901  5.947877  70.419278
4  5.852676  71.896833  4.273809  77.145331

In [7]:
%%time
df['distance'] = df.apply(lambda row: calcular_distancia(row['lat_c'], row['long_c'], row['lat_p'], row['long_p']), axis=1)
df.head()

CPU times: user 3min 6s, sys: 210 ms, total: 3min 6s
Wall time: 3min 6s

      lat_c     long_c     lat_p     long_p    distance
0  4.629752  71.625145  3.584273  79.995352  936.536065
1  3.315591  72.034504  4.708573  72.010302  154.059015
2  4.340068  77.577133  3.226830  75.897443  223.525935
3  5.647548  78.210901  5.947877  70.419278  863.583359
4  5.852676  71.896833  4.273809  77.145331  607.600851

In [8]:
%%time
df['distance2'] = df.parallel_apply(lambda row: calcular_distancia(row['lat_c'], row['long_c'], row['lat_p'], row['long_p']), axis=1)
df.head()

CPU times: user 57.2 ms, sys: 70.1 ms, total: 127 ms
Wall time: 2min 3s

      lat_c     long_c     lat_p     long_p    distance   distance2
0  4.629752  71.625145  3.584273  79.995352  936.536065  936.536065
1  3.315591  72.034504  4.708573  72.010302  154.059015  154.059015
2  4.340068  77.577133  3.226830  75.897443  223.525935  223.525935
3  5.647548  78.210901  5.947877  70.419278  863.583359  863.583359
4  5.852676  71.896833  4.273809  77.145331  607.600851  607.600851

In [9]:
print('Ok_')

Ok_