In [9]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [10]:
# Definimos una función para eliminar los outliers de cada categoría
def eliminar_outliers(df):
    q1 = df['valor'].quantile(0.25)
    q3 = df['valor'].quantile(0.75)
    iqr = q3 - q1
    lim_inf = q1 - 1.5*iqr
    lim_sup = q3 + 1.5*iqr

    print(lim_inf, lim_sup)

    return df.loc[(df['valor'] >= lim_inf) & (df['valor'] <= lim_sup)]

In [11]:
df = pd.DataFrame({
    'categoria': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'],
    'valor': [1, 2, 3, 4, 5, 6, 7, 8, 9]
})
df.head()

  categoria  valor
0         A      1
1         A      2
2         A      3
3         B      4
4         B      5

In [12]:
df_sin_outliers = df.groupby('categoria').apply(eliminar_outliers)
df_sin_outliers

0.0 4.0
3.0 7.0
6.0 10.0

  categoria  valor
0         A      1
1         A      2
2         A      3
3         B      4
4         B      5
5         B      6
6         C      7
7         C      8
8         C      9

In [13]:
print('ok_')

ok_