In [1]:
import pandas as pd
from datetime import datetime, timedelta
from sklearn.datasets import load_iris
from sqlalchemy import create_engine

In [2]:
iris = load_iris()

# Crear el DataFrame
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['target'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [9]:
## PC win - docker
# engine = create_engine('mysql://root:airflow@127.0.0.1:3306/cover_type')

## Conexi√≥n a MySQL (en docker)
# engine = create_engine('mysql://root:airflow@mysql:3306/cover_type')

## PC linux - docker# 
engine = create_engine(f'mysql+pymysql://root:airflow@127.0.0.1:3306/cover_type')

In [ ]:
# Guardar los datos en MySQL
df.to_sql('cover_type', con=engine, if_exists='append', index=False)
print("Datos cargados en MySQL")

In [10]:
# Cargar los datos en MySQL
df = pd.read_sql("SELECT * FROM cover_type", engine)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [11]:
df.shape

(600, 5)

In [12]:
print('ok_')

ok-