In [1]:
import mysql.connector
import pandas as pd

In [2]:
# Configura los parámetros de conexión
from config import config

# Intenta establecer la conexión
try:
    conn = mysql.connector.connect(**config)
    print("Conexión exitosa a la base de datos")
    
    # Ahora puedes realizar operaciones en la base de datos
    query = "SELECT * FROM customers"  # Cambia "customers" al nombre de tu tabla
    df_customers = pd.read_sql(query, conn)
    
    query = "SELECT * FROM orders"  # Cambia "orders" al nombre de tu tabla
    df_orders = pd.read_sql(query, conn)
    
    # print("Tabla cargada en DataFrame:")
    # print(df.head())
        
    
except mysql.connector.Error as err:
    print(f"Error al conectarse a la base de datos: {err}")

# Finalmente, cierra la conexión cuando hayas terminado
finally:
    if 'conn' in locals() and conn.is_connected():
        conn.close()
        print("Conexión cerrada")

Conexión exitosa a la base de datos
Conexión cerrada

/tmp/ipykernel_2405/3907080732.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_customers = pd.read_sql(query, conn)
/tmp/ipykernel_2405/3907080732.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_orders = pd.read_sql(query, conn)

In [3]:
df_customers.head()

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",None,Nantes,None,44000,France,1370.0,21000.0
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,None,Las Vegas,NV,83030,USA,1166.0,71800.0
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611.0,117300.0
3,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",None,Nantes,None,44000,France,1370.0,118200.0
4,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,None,Stavern,None,4110,Norway,1504.0,81700.0

In [4]:
# df_orders = df_orders[df_orders['status'] != 'Cancelled']
df_orders.head()

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363
1,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128
2,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,None,181
3,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121
4,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,None,141

In [5]:
df_customers.shape, df_orders.shape

((122, 13), (326, 7))

In [8]:
df_customers_orders = pd.merge(df_customers, df_orders, how='left', on=['customerNumber']) 
df_customers_orders.shape

(326, 19)

In [9]:
df_orders['status'].unique()

array(['Shipped', 'Resolved', 'Cancelled', 'On Hold', 'Disputed',
       'In Process'], dtype=object)