In [1]:
import unicodedata
import pandas as pd

In [2]:
df = pd.DataFrame({'nombre': ['María', 'Juan', 'Ana'], 'apellido': ['Gómez', 'Pérez', 'López']})
df.head()

  nombre apellido
0  María    Gómez
1   Juan    Pérez
2    Ana    López

In [3]:
def quitar_tildes(texto):
    return ''.join((c for c in unicodedata.normalize('NFD', texto) if unicodedata.category(c) != 'Mn'))

In [4]:
# aplicar la función a las columnas deseadas
df['nombre'] = df['nombre'].apply(quitar_tildes)
df['apellido'] = df['apellido'].apply(quitar_tildes)

# imprimir el DataFrame resultante
print(df)

  nombre apellido
0  Maria    Gomez
1   Juan    Perez
2    Ana    Lopez